$backgroundColor: darkred;
$align: center;
$space: 10%;
$size: 2em;
$accentColor: whitesmoke;
$secondColor: rgb(241, 180, 10);


body{
  background-color: $backgroundColor;

    #root{
    background-color: $backgroundColor;
    text-align: $align;

      a {
        margin: $space;
        font-size: $size;
        text-decoration: none;
        color: $accentColor;
      }

      h4{
        color: $secondColor;
        font-size: $size * 5;
        font-family: cursive;
        margin: $space;
      }

  }

}